[submodule "shared"]
	path = shared
	url = https://github.com/zitherharpmusic/shared.git
[submodule "short"]
	path = shorts
	url = https://github.com/zitherharpmusic/short.git
[submodule "television"]
	path = television
	url = https://github.com/zitherharpmusic/television.git