<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zitherharp.music.photo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_photo_launcher"
        android:label="@string/photo_app_name"
        android:roundIcon="@mipmap/ic_photo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Music">
        <activity
            android:name=".ui.category.CategoryGridActivity"
            android:exported="false" />
        <activity
            android:name=".ui.photo.PhotoFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.Music.Fullscreen" />
        <activity
            android:name=".ui.category.CategoryDetailAdapter"
            android:exported="false" />
        <activity
            android:name=".ui.photo.PhotoDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>